/* src/App.css */
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}
.ticker-container {
  position: fixed;
  top: 20px; /* Adjust to your preference */
  left: 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.7); /* Background color for visibility */
  color: white;
  font-size: 1.5rem; /* Adjust the font size as needed */
  z-index: 3; /* Ensure it appears above other elements */
}

.ticker {
  display: inline-block;
  animation: scroll 10s linear infinite; /* Adjust the duration for speed */
}

@keyframes scroll {
  0% {
    transform: translateX(100%); /* Start from outside the right */
  }
  100% {
    transform: translateX(-100%); /* Move to outside the left */
  }
}
